.detail_wrapper {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.main_container {
  margin: 2rem 2rem;
}

.character_img {
  border-radius: 2rem;
}

.character_name {
  font-size: 2rem;
  font-weight: bold;
  margin: 1.2rem 0;
  color: white;
}

.description {
  font-size: 1.2rem;
  color: white;
}

.back_btn {
  background: none;
  border: none;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  cursor: pointer;
  color: white;
}
